html, body, #app {
    margin: 0;
}

/* main */

.main {
    width: 300px;
    margin: 30px auto auto;
}

.main > * {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.main > *:last-child {
    margin-bottom: 0;
}

.main > h1 {
    text-align: center;
}

/* form */

.form {
    display: flex;
    flex-direction: row;
}

.form > * {
    height: 100%;
}

.form > input {
    margin: 0;
    padding: 10px 5px;
    box-sizing: border-box;
    flex-grow: 2;
    cursor: pointer;
}

.form > button {
    max-width: 50px;
    flex-grow: 1;
}

/* items-list */

.items-list {
    list-style: "none";
    padding: 0;
    margin: 0;
}

.items-list > * {
    box-sizing: border-box;
    margin-bottom: 15px;
}

.items-list > *:last-child {
    margin-bottom: 0;
}

/* item */

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}

.item > * {
    margin: auto 15px auto 0;
}

.item > *:last-child {
    margin-right: 0;
}