html, body, #app {
    margin: 0;
}

/* main */

.main {
    width: 300px;
    margin: 30px auto auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main > * {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.main > *:last-child {
    margin-bottom: 0;
}

.main > h1 {
    text-align: center;
}

/* add-todo */

.add-todo {
    display: flex;
    flex-direction: row;
}

.add-todo > * {
    height: 100%;
}

.add-todo > *:last-child {
    margin-left: 12px;
}

.add-todo > input {
    margin: 0;
    padding: 10px 5px;
    box-sizing: border-box;
    flex-grow: 2;
    cursor: pointer;
}

.add-todo > button {
    max-width: 50px;
    flex-grow: 1;
}

/* todos-list */

.todos-list {
    list-style: "none";
    padding: 0;
    margin: 0;
}

.todos-list > * {
    box-sizing: border-box;
    margin-bottom: 15px;
}

.todos-list > *:last-child {
    margin-bottom: 0;
}

/* todo-item */

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
}

.todo-item > * {
    margin: auto 15px auto 0;
}

.todo-item > *:last-child {
    margin-right: 0;
}